<div class="container">
    <div *ngIf="!submitted">
        <h1> Basic templte driven form</h1>
        <form #heroForm="ngForm" (ngSubmit) = onSubmit(heroForm.value)>
            
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="FirstName" ngModel #firstName="ngModel" required/>
                <div class="alert alert-danger" [hidden]="firstName.valid || firstName.pristine" > Name field is mandatory</div>
            </div>
            <button type="submit" class="btn btn-default" [disabled] ="!heroForm.valid">Submit</button> 
        </form>
    </div>
    <div *ngIf="submitted">
        Raw out put of form value
        {{ form | json}}
    </div>
</div>